header > nav {
    height: 4rem;
}

main {
    margin-top: 4rem;
}

a {
    text-decoration: none;
}

.card:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: ease-in 0.2s;
}

.card > .card-body {
    height: 5rem;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.bg-pop {
    background-color: #000080;
}

.bg-rock {
    background-color: #00a86b;
}

.bg-jazz {
    background-color: #f9a602;
}

.bg-trap {
    background-color: #d30000;
}  

.bg-chillout {
    background-color: #d78fdc;
}

.bg-dubstep {
    background-color: #777b7e;
}